.container
    padding: 20px

.divider 

::ng-deep .ant-carousel
    text-align: center
    height: 200px
    // line-height: 160px
    background: #364d79
    color: #000
    overflow: hidden
    background-size: cover
    background-repeat: no-repeat
    opacity: 0.8

::ng-deep .ant-carousel .slick-list .slick-slide.slick-active,
::ng-deep .ant-carousel .slick-list .slick-slide.slick-current
    display: flex
    flex-direction: column
    // justify-content: space-around
    align-items: center
    padding-top: 30px
    gap: 20px
h3 
    color: #fff
    margin-bottom: 0
    user-select: none
    font-size: 36px

::ng-deep .ant-btn
    background: linear-gradient(90deg,rgba(33, 69, 152, 1) 85%,rgba(14, 14, 17, 1) 100%,rgba(0, 212, 255, 1) 100%)
    color: #fff

.projects
    font-size: 72px 
    z-index: 100

::ng-deep .ant-modal-header 
    background-color: #f00e30 
    

::ng-deep .ant-modal-title
    color: #fff
    font-weight: bold
    font-size: 18px

::ng-deep .anticon svg
    color: #fff    

.with_background
    // background-image: url('G:/portpolio_website/portpolio_website/portpolio/src/assets/images/projects.jpg') 
    background-size: cover
    background-repeat: no-repeat  
    // opacity: 0.3
    // background-image: url('G:/portpolio_website/portpolio_website/portpolio/src/assets/images/card-background.jpg')
 