@import './../../../../../assets/sass/index'

.header 
    background: #2d3b5e
    height: 80px
    padding: 20px


.header-container
    display: flex
    justify-content: space-between
    align-items: center
    gap: 1rem

.left-side
    padding-left: 40px
    font-size: 36px
.ride-side
    margin-right: 20px

.nav-menu    
    display: flex
    flex-direction: row
    align-items: center
    gap: 4rem
    justify-content: space-around
    font-size: 1.2rem
    cursor: pointer


ul
    list-style: none
    li
        color: #ffffff    