<div class="main-container">
  <div class="container" nz-row>
    <div nz-col nzLg="12" nzXs="24" nzSm="24">
      <div class="right-side">
        <div class="img-row">
          <a href="https://www.facebook.com/profile.php?id=100008534535194">
            <img src="./assets/icons/facebook.png"
          /></a>
          <a href="https://www.linkedin.com/in/gayan-pradeep-kumara-b04b6a249/">
            <img src="./assets/icons/linkedin.png"
          /></a>
          <a href="https://github.com/GayanPradeep97">
            <img src="./assets/icons/github.png"
          /></a>
        </div>
        <div>
          <span class="title"
            >Hi,I'm Gayan Pradeep<br />and i'm
            <span class="animationText"></span>
          </span>
          <div class="sub">
            <span class="sub_title"
              >Seeking to attain a position in quality improvement that<br />
              will promote the application of skills<br />
              and knowledge acquired through previous experience,<br />
              allow management experinc and foster career development and growth
            </span>
          </div>

          <div class="btn-section">
            <a href="./assets/pdf/gayan-pdf.pdf" download>
              <button class="ant-btn" nz-button>Download CV</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzLg="12" nzXs="24" nzSm="24">
      <img class="gayanImg" src="./assets/images/crop_my.png" />
    </div>
  </div>
</div>
