<div class="container">
  <div class="divider">
    <div class="title">
      <h1>ABOUT ME</h1>
    </div>
  </div>

  <div class="content">
    <div class="img"><img src="./assets/images/crop_my.png" /></div>
    <div class="text">
      <div><span>My Profile</span></div>
      <div>
        <p>
          I'm a Software Engineer specializing in Front End Development, with a
          degree from Eastern University of Sri Lanka. Proficient in HTML, CSS,
          SASS , SCSS JavaScript,TypeScript and frameworks like React.js,
          Angular, I prioritize creating visually appealing and user-friendly
          interfaces. With a collaborative approach and a commitment to staying
          updated with industry trends, I strive to deliver high-quality
          solutions that exceed expectations.
        </p>
      </div>

      <!-- <div>
        <span>Personal Details</span>
        <div class="">
          <ul>
            <li><b>Name:</b> K.G Gayan Pradeep Kumara</li>
            <li><b>Address:</b> E 93/1, Sansungama, Kawdulla, Hingurakgoda</li>
            <li><b>Age:</b> 27</li>
            <li><b>Phone:</b> 077 0249214</li>
          </ul>
        </div>
      </div>

      <div>
        <span>Education</span>
        <div>
          <p>
            I Have Completed My Software Engineer Degree Programme in Eastern
            University of Sri lanka. I am currently learning New things in web
            development.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</div>
