<div class="main">
  <div class="container">
    <div class="divider">
      <span>Skills And Experince &nbsp;</span><span class="skills"></span>
    </div>

    <div class="card">
      <div style="background: #000; padding: 30px">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="SKILLS">
              <div>
                <span class="promgramming">Programming Language</span>
                <p>Java , C++ , Assembly , PHP</p>
              </div>

              <div>
                <span>Web Development</span>
                <p>
                  Angular , ReactJs , HTML , CSS ,SASS ,SCSS , JavaScript,
                  AngularJs, TypeScript
                </p>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="WORK EXPERIENCE" class="work_card">
              <div>
                <span>Trainee Software Engineer - FrontEnd</span>
                <p class="second">
                  Codelantic (Pvt) ltd : March 2023 to August 2023
                </p>
                <p>
                  Worked on banking ecosystem, an ecommerce ecosystem (projects:
                  Linkfx , Money Trnsfer , Satalite ) Fixed bugs , designed
                  interfaces , Data optimization , Unit Testing and complete
                  various tasks to improve the platform’s functionality and user
                  experience. Strengthened proficiency in Angular , AngularJS ,
                  Sass, CSS ,KarmaJasmin technologies. Key development areas
                  included FrontEnd design and functions , API handling,
                  Database schema design , implementation of Stored procedures.
                </p>
              </div>
            </nz-card>
          </div>

          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="CERTIFICATIONS">
              <div class="row" nz-row>
                <div nz-col [nzSpan]="12">
                  <div>
                    <span class="second">React (Basic)</span>

                    <p>HackerRank</p>
                  </div>

                  <div>
                    <span class="second">React + Redux</span>

                    <p>SoloLearn</p>
                  </div>
                  <div>
                    <span class="second">JavaScript</span>

                    <p>SoloLearn</p>
                  </div>
                </div>

                <div nz-col [nzSpan]="12">
                  <div>
                    <span class="second">Angular</span>

                    <p>SoloLearn</p>
                  </div>
                  <div>
                    <span class="second">Java</span>

                    <p>SoloLearn</p>
                  </div>

                  <div>
                    <span class="second">Certificate of Appreciation</span>

                    <p>project LNK Fintech</p>
                  </div>
                </div>
              </div>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
