<div class="main-container">
  <div class="container">
    <div class="right-side">
      <div class="img-row">
        <img src="./assets/icons/facebook.png" />
        <img src="./assets/icons/facebook.png" />
        <img src="./assets/icons/facebook.png" />
      </div>
      <div>
        <span class="title"
          >Hi,I'm Gayan Pradeep<br />and i'm
          <span class="animationText">FrontEnd Developer </span></span
        >
      </div>
    </div>
    <div class="left-side"><h1>Pradeep</h1></div>
  </div>
</div>
