<div class="main">
  <div class="container">
    <div class="divider1">
      <div class="divider_container">
        <div class="get_touch">
          <div class="text_lines">
            <h1 class="title">Get in touch</h1>
            <div>
              <span class="sub_title"
                >Want to get in touch? We'd love to hear from you.Here's how<br />
                you can reach me...</span
              >
            </div>
          </div>
        </div>
        <div class="image_section">
          <div>><img src="./assets/images/get-in-tauch-background.png" /></div>
        </div>
      </div>
    </div>
    <div class="card-section">
      <div class="card">
        <div class="card-content">
          <div>
            <img src="./assets/icons/call.png" />
          </div>
          <div>
            <span style="font-weight: bold; font-size: 22px">Tolk to me</span>
          </div>
          <div>
            <span style="font-weight: bold; font-size: 18px"
              >Interested in My Profile ? Click Here! <br /><br /></span
            ><a href="tel:0770249214"> 0770249214</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div>
            <img src="./assets/icons/email.png" />
          </div>
          <div>
            <span style="font-weight: bold; font-size: 22px">Test Me</span>
          </div>
          <div>
            <span style="font-weight: bold; font-size: 18px"
              >Interested in My Profile ? Send Emal! <br /><br /></span
            ><a href="mailto:pradeepgayan0212@gmail.com">
              pradeepgayan0212&#64;gmail.com</a
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div>
            <img src="./assets/icons/github-new.png" />
          </div>
          <div>
            <span style="font-weight: bold; font-size: 22px"
              >Search Me In Git Hub</span
            >
          </div>
          <div>
            <span style="font-weight: bold; font-size: 18px"
              >You can check my Git hub Account here<br /><br /></span
            ><a href="https://github.com/GayanPradeep97">
              https://github.com/GayanPradeep97</a
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div>
            <img src="./assets/icons/linkedin_2.png" />
          </div>
          <div>
            <span style="font-weight: bold; font-size: 22px">linkedin </span>
          </div>
          <div>
            <span style="font-weight: bold; font-size: 18px"
              >This is my LinkedIn profile<br /><br
            /></span>
            <a
              href="https://www.linkedin.com/in/gayan-pradeep-kumara-b04b6a249/"
              target="_blank"
            >
              Gayan Pradeep Kumara
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
