@import './../../../../../assets/sass/index'

.main-container 
    background: #2d3b5e
    height:1020px

.container 
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: start
    background: #2d3b5e
    height: 100%   
    padding: 100px    

.right-side
    display: flex
    flex-direction: row
    align-items: start
    gap: 40px

.img-row    
    display: flex
    flex-direction: column
    gap: 30px
    margin-top: 40px

img
    height: 50px   

.title
    font-size: 48px     
    color: #fff

.animationText
    color: #eb7f13    